<div class="flex w-screen h-screen flex-col">
  <app-navbar></app-navbar>
  <div class="flex justify-center items-center w-full h-full">
    
      <div>
        <h1 class="flex justify-center items center text-8xl font-Feelfree Font ">Quiz  App</h1>
        <button
          (click)="takeQuizButton()"
          class="flex text-white justify-center text-3xl cursor-pointe bg-gray-900 hover:bg-purple-800 border-2 border-white mx-36 p-2 mt-36 my-4  w-72 items-center"
          type="submit"
        >
          START QUIZ
        </button>
      </div>
    
  </div>
</div>
