<div class="flex w-screen h-screen flex-col">
  <app-navbar></app-navbar>
  <div class="flex justify-center w-full h-full">
    <div class="flex w-96 h-96 mt-20 justify-center items-center border-2 bg-gray-900 border-white rounded-lg">
      <div>
        <button
          (click)="takeQuizButton()"
          class="flex text-white justify-center text-2xl cursor-pointe hover:bg-purple-800 border-2 border-white mx-36 p-2 mt-8 my-4 rounded-lg w-32 h-28 items-center"
          type="submit"
        >
          Take Quiz
        </button>
      </div>
    </div>
  </div>
</div>
