<div >
    <form
    class="flex flex-col text-black"
    [formGroup]="addEditForm"
    (ngSubmit)="OnSubmit()"
    >
    <h1>
      add question header
    </h1>
    <input
    formControlName="questionInWords"
    placeholder="Question"
    required
    />
    <input
    formControlName="option1"
    placeholder="option1"
    
    />
    <input
    formControlName="option2"
    placeholder="option2"
    
    /> <input
    formControlName="option3"
    placeholder="option3"
    
    /> <input
    formControlName="option4"
    placeholder="option4"
    

    />
    <input
    formControlName="answer"
    placeholder="answer"
    

    />
    <button
    type="submit">
    add
    </button>
    <button class="mt-2" (click)="closePopup()">
    close
    </button>

    </form>
  </div>
