<div class="flex flex-col justify-center items-center w-screen h-screen">
  <form
    class="flex justify-center items-center "
    [formGroup]="loginForm"
    (ngSubmit)="OnSubmit(Email.value, Password.value)"
  >
    <div
      class="flex flex-col justify-start border-2  p-2 bg-gray-900 border-white rounded-lg text-white w-96 "
    >
      <h1 class="text-2xl flex justify-center p-2 m-2 text-purple-400">Login</h1>
      <div class="flex flex-col justify-center text-black">
        <label class="flex justify-start mx-8 p-2 text-purple-400">Email</label>
        <input
          class="ml-8 w-72 text-black rounded-sm"
          [ngClass]="{
            'border-2 border-red-500 text-black rounded-lg':
              loginForm.controls['Email'].dirty &&
              loginForm.hasError('required', 'Email')
          }"
          type="email"
          formControlName="Email"
          #Email
          required
        />
        <small
          class="ml-10 w-72 text-red-500"
          *ngIf="
            loginForm.controls['Email'].dirty &&
            loginForm.hasError('required', 'Email')
          "
          >Email required</small
        >
        <small
        class="ml-10 w-72 text-red-500"
        *ngIf="
          loginForm.hasError('pattern', 'Email')
        "
        >Please provide a valid email</small
      >
        
      </div>
      <div class="flex flex-col justify-center text-black">
        <label class="flex justify-start mx-8 p-2 text-purple-400">Password</label>
        <div >
          <input
            class="ml-8 w-72 text-black rounded-sm"
            [ngClass]="{
              'border-2 border-red-500 text-black rounded-lg':
                loginForm.controls['Password'].dirty &&
                loginForm.hasError('required', 'Password')
            }"
            [type]="type"
            formControlName="Password"
            #Password
            required
          />
    
          <small
            class="ml-10 w-72 text-red-500"
            *ngIf="
              loginForm.controls['Password'].dirty &&
              loginForm.hasError('required', 'Password')
            "
            >Password required</small
          >
        </div>
      </div>

      <span class="flex justify-end cursor-pointer text-xs p-2 mr-10"
        >Forgot Password</span
      >
      <button
        class="flex justify-center cursor-pointe hover:bg-purple-800 border-2 border-white mx-36 p-2 mt-8 my-4 rounded-lg"
        type="submit"
      >
        Login
      </button>
      <div class="flex justify-center text-xs mb-4 ">
        Don't have an account ?<u
          class="pl-1 cursor-pointer text-purple-400"
          (click)="GoToRegister()"
          >Register</u
        >
      </div>
    </div>
  </form>
</div>
