<div class="flex flex-col justify-center w-screen h-screen">
  <form
    class="flex justify-center"
    [formGroup]="RegisterForm"
    (ngSubmit)="OnSubmit(Email.value,Name.value,Password.value)"
  >
    <div
      class="flex flex-col justify-start border-2  p-2 bg-gray-900 border-white rounded-lg text-white w-96 "
    >
      <div class="text-2xl flex justify-center p-2 m-2 text-purple-400" >Register</div>
      <div class="flex flex-col justify-center text-black">
        <label class="flex justify-start mx-8 p-2  text-purple-400">Email</label>
        <input
          class="ml-8 w-72 rounded-sm text-black"
          [ngClass]="{
            'border-2 border-red-600 text-black rounded-lg':
              RegisterForm.controls['Email'].dirty &&
              RegisterForm.hasError('required', 'Email')
          }"
          type="email"
          formControlName="Email"
          #Email
          
          required
        />
        <small
          class="ml-10 w-72 text-red-500"
          *ngIf="
            RegisterForm.controls['Email'].dirty &&
            RegisterForm.hasError('required', 'Email')
          "
          >Email required</small
        >
      </div>
      <div class="flex flex-col justify-center  text-black">
        <label class="flex justify-start  mx-8 p-2  text-purple-400">Name</label>
        <input
          class="ml-8 w-72 rounded-sm text-black"
          [ngClass]="{
            'border-2 border-red-800 text-black rounded-lg':
              RegisterForm.controls['Name'].dirty &&
              RegisterForm.hasError('required', 'Name')
          }"
          type="text"
          formControlName="Name"
          #Name
          
          required
        />
        <small
          class="ml-10 w-72 text-red-500"
          *ngIf="
            RegisterForm.controls['Name'].dirty &&
            RegisterForm.hasError('required', 'Name')
          "
          >Name required</small
        >
      </div>
      <div class="flex flex-col justify-center  text-black">
        <label class="flex justify-start mx-8 p-2 text-purple-400">Password</label>
        <div >
          <input
            class="ml-8 w-72 rounded-sm text-black"
            [ngClass]="{
              'border-2 border-red-800 text-black rounded-lg':
                RegisterForm.controls['Password'].dirty &&
                RegisterForm.hasError('required', 'Password')
            }"
            [type]="type"
            formControlName="Password"
            #Password
           
            required
          />

          <small
            class="ml-10 w-72 text-red-500"
            *ngIf="
              RegisterForm.controls['Password'].dirty &&
              RegisterForm.hasError('required', 'Password')
            "
            >Password required</small
          >
        </div>
      </div>

      <!-- <span class="flex justify-end cursor-pointer text-xs p-2 mr-10"
        >Forgot Password</span
      > -->
      <button
        class="flex justify-center cursor-pointe hover:bg-purple-800 border-2 border-white mx-36 p-2 mt-8 my-4 rounded-lg"
        type="submit"
      >
        Register
      </button>
      <div class="flex justify-center text-xs mb-4">
        Don't have an account ?<u
          class="pl-1 cursor-pointer text-purple-400"
          (click)="GoToLogin()"
          >Login</u
        >
      </div>
    </div>
  </form>
</div>
