<app-navbar></app-navbar>

<div *ngIf="crudService.showPopup">
  <app-add-edit-popup></app-add-edit-popup>
</div>

<div class="flex-col justify-between p-20  max-w-full h-full">
  
<div>
  <button
  class="flex justify-center cursor-pointe text-white bg-gray-900 hover:bg-purple-800 border-2 border-white  p-2 my-4 "
   (click)="showPopupButton()">
    ADD A QUESTION
  </button>
</div>


  <ng-container *ngFor="let qn of crudService.list; let i = index">
    <div
      class="flex justify-between w-full bg-gray-900 text-white first-letter:border-2 border-white"
    >
      <div
        class="p-2 m-2 "
      >
        <span class="flex-end right-0">{{ i + 1 }}</span>
        <p>{{ qn.questionInWords }}</p>
      </div>
      <div class="flex p-2 m-2 w-36 rounded-lg bg-blue-500">
        <button class="p-2 m-1 border-2 rouned-lg hover:bg-purple-800"(click)="callEditQuestion(qn.questionId)">Edit</button>
        <button class="p-2 m-1 border-2 rouned-lg hover:bg-purple-800"(click)="callDeleteQuestion(qn.questionId)">delete</button>
      </div>
    </div>
    <div class="px-10 py-2 text-black">
      <ul>
        <li [ngClass]="{ 'bg-green-400 rounded-lg': qn.answer == 0 }">
          (A) {{ qn.option1 }}
        </li>
        <li [ngClass]="{ 'bg-green-400 rounded-lg': qn.answer == 1 }">
          (B) {{ qn.option2 }}
        </li>
        <li [ngClass]="{ 'bg-green-400  rounded-lg': qn.answer == 2 }">
          (C) {{ qn.option3 }}
        </li>
        <li [ngClass]="{ 'bg-green-400  rounded-lg': qn.answer == 3 }">
          (D) {{ qn.option4 }}
        </li>
      </ul>
      <div>Ans: ({{ (qn.answer + 10).toString(36).toUpperCase() }})</div>
    </div>
  </ng-container>
</div>
